.data h2 {
    margin: 50px 0;
    text-align: center;
}

.data hr {
    border-top: dotted 3px;
    border-bottom: none;
}

.data .info {
    margin-top: 20px;
    text-align: center;
}

.data .info p {
    margin: 10px 0;
    font-size: 1.2em;
}

.data .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.data .details div {
    margin-bottom: 10px;
}

.data .details span {
    font-size: 1.2em;
    font-weight: bold;
}

.data .goods {
    width: 100%;
}

.data .goods table {
    margin-top: 20px;
    border-top: 2px dashed black;
    width: 100%;
    border-spacing: 5px;
}

.data .goods table th,
td {
    text-align: start;
    padding: 5px;
}

.data .goods table #gd {
    background-color: #457b9d;
    color: white;
}