* {
    padding: 0;
    margin: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.page .data {
    background-color: #f1faee;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page .items {
    background-color: #1d3557;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page .items .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}